
@font-face {
	font-family: 'HelveticaNeue';
	src: url('../fonts/helv-myr/HelveticaNeueLTCom-Roman.eot');
	src: url('../fonts/helv-myr/HelveticaNeueLTCom-Roman.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helv-myr/HelveticaNeueLTCom-Roman.woff2') format('woff2'),
		url('../fonts/helv-myr/HelveticaNeueLTCom-Roman.woff') format('woff'),
		url('../fonts/helv-myr/HelveticaNeueLTCom-Roman.ttf') format('truetype'),
		url('../fonts/helv-myr/HelveticaNeueLTCom-Roman.svg#HelveticaNeueLTCom-Roman') format('svg');
	font-weight: normal;
	font-style: normal;
}



@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/helv-myr/HelveticaLTStd-Roman.eot');
	src: url('../fonts/helv-myr/HelveticaLTStd-Roman.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helv-myr/HelveticaLTStd-Roman.woff2') format('woff2'),
		url('../fonts/helv-myr/HelveticaLTStd-Roman.woff') format('woff'),
		url('../fonts/helv-myr/HelveticaLTStd-Roman.ttf') format('truetype'),
		url('../fonts/helv-myr/HelveticaLTStd-Roman.svg#HelveticaLTStd-Roman') format('svg');
	font-weight: 500;
	font-style: normal;
}


@font-face {
	font-family: 'Myriad Set Pro';
	src: url('../fonts/helv-myr/MyriadSetPro-Thin.eot');
	src: url('../fonts/helv-myr/MyriadSetPro-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helv-myr/MyriadSetPro-Thin.woff2') format('woff2'),
		url('../fonts/helv-myr/MyriadSetPro-Thin.woff') format('woff'),
		url('../fonts/helv-myr/MyriadSetPro-Thin.ttf') format('truetype'),
		url('../fonts/helv-myr/MyriadSetPro-Thin.svg#MyriadSetPro-Thin') format('svg');
	font-weight: 100;
	font-style: normal;
}
