.control-nav{
	display: block;
	height: 50px;
	width: 100%;
	background-color: #f8f7f3;
	margin-top: 0px;
	position: absolute;
	padding: 0 20px;

}
.control-nav > ul{
	margin: 0px;
	padding: 0px;
}
.control-nav > ul.control-nav-ul > li{
	margin: 0px;
	display: block;
	height: 50px;
line-height: 50px;
	float: left;
text-align: center;
}
.control-nav > ul.control-nav-ul>  li button{
	//background-color: rgba(255,255,255,.8);
	color: #014d6f;
	border:none;
	background: transparent;



}

.control-nav > ul.control-nav-ul>  li button i{
font-size: 1.2rem;
line-height: 50px;
color:#014d6f;

}

.control-nav ul.control-nav-ul > li button i{
	

}
.control-nav ul.control-nav-ul > li:first-child{
width: 15%;
font-size: 1rem;
text-align: left;


}

.control-nav ul.control-nav-ul>  li:nth-child(2){
width: 85%;
font-size: .9rem;
text-align: right;
color: #000;
}







/************sidenav content**********************/


.group-content-image{
	display: block;
	width: 100%;
	height: 181px;
	position: fixed;
	background: #f8f7f3;
	top: 50px;
	border-bottom:1px solid #cdcdcd;
	
	
}
.title-nombre{
	width: 100%;
	height: 50px;
	overflow: hidden;

}
.title-nombre span.nombre{
	display: block;
	width: 100%;
	height: 30px;
	font-size: 1rem;
	font-weight: bold;
	z-index: 400;
	
	margin:0;
	text-align: center;
	margin:0;
	overflow: hidden;
	
	
	
}
.title-nombre span.detalle-nombre{
	display: block;
	width: 100%;
	height: 20px;
	font-size: .7rem;
		text-align: center;
}
.title-options{
	display: block;
	width: 70%;
	margin:0 auto;
	height: 50px;
	
}
.title-options ul{
	display: block;
	height: 50px;
	width: 100%;
	margin: 0;


}
.title-options ul li{
	display: block;
	height: 50px;
	width: 25%;
	float: left;
	background: #f8f7f3;
	
	text-align: center;
margin: 0px;
	padding: 0px;

}
.title-options ul li a{
	display: block;
width: 35px;
margin-top: 7px;

height: 35px;
	background: #3c7bcb;;
	border-radius: 50%;
-moz-border-radius: 50%;
-o-border-radius: 50%;
-webkit-border-radius: 50%;
color: #fff;
margin-right: auto;
margin-left: auto;
text-align: center;
}

.title-options ul li a i{
display: block;
line-height: 35px;
font-size: .8rem;
}
.group-content-image img{
	display: block;
	height: 80px;
	width: 80px;
	margin: 0 auto;
border-radius: 50%;
-moz-border-radius: 50%;
-o-border-radius: 50%;
-webkit-border-radius: 50%;
	
	
	
}





.container-group-content{
display: block;
	width: 100%;
	position: absolute;
	top: 50px;
	

	overflow-y: auto;

-webkit-overflow-scrolling: touch;	
bottom: 0px;



}

.group-content{

display: block;
	background: #fff;
	//overflow-y: auto!important;
	position: relative;
	top: 0px;
bottom: 50px;
padding: 0px 5px 30px; 5px
	height: 100%;
	width: 100%;

}
.group-content-item{
	height: 50px;
	width: 100%;
	padding: 0 20px;

	border-bottom: 1px solid #cdcdcd;
}
.first-item-account{
	margin-top: 180px;	

}

.group-content-item >span.item-account-tit,
.group-content-item >span.item-account-desc{	
	display: block!important;
	width: 35%;
	float: left!important;
	

	height: 50px;
	
	
display: flex!important;
    justify-content: center!important;
    align-content: center!important;
    flex-direction: column!important;

	
}
.group-content-item >span.item-account-tit{
 
font-size: .6rem;
}

.group-content-item >span.item-account-desc{
width: 65%;
font-size: .6rem;
font-weight: normal;
overflow: ellipsis;


}


/********************************/

.group-content-item-notif{
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;

	width: 100%;
	height: 91px;
	border-bottom: 1px solid #cdcdcd;
}
.group-content-item-notif a{
color: #555;
}
.group-content-item-notif a:hover{
color: #000;
}

.group-content-item-notif .notif-left,
.group-content-item-notif .notif-right{
	display: block;
		float: left;
	width: 80px;
	height: 80px;
	
	
}
.group-content-item-notif .notif-left img{
height: 70px;
width:70px;
border-radius: 50%;
-moz-border-radius: 50%;
-o-border-radius: 50%;
-webkit-border-radius: 50%;
}
.group-content-item-notif .notif-right{
	width: 70%;
}

.notif-right-top,
.notif-right-bottom{
	display:block;
	width: 100%;
	height: 60px;
	font-size: .7rem;
	line-height: .9rem;
	padding-left: 20px;
	overflow: hidden;


}
.notif-right-top{
	
	  overflow: hidden;
    text-overflow: ellipsis;
     display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.notif-right-bottom{
height: 20px!important;

line-height: 20px;

}
.notif-right-bottom span{
	margin:0px;
	font-size: .55rem;
line-height: 20px;
}
.notif-right-bottom span i{
margin:0px;
font-size: .58rem;
margin-right: 15px;
}


/************************************************/	


.group-content-item-history{
	display: block;
	height: 90px;
	width: 100%;
	
	border-bottom: 1px solid #cdcdcd;
	
}


.group-content-item-history > div{
	display: block;
	width: 20%;
	float: left;
	font-size: .7rem;
	height: 90px;
	display: flex!important;
    justify-content: center!important;
    align-content: center!important;
    flex-direction: column!important;
}
.group-content-item-history .item-history-details{
	width: 80%;
}
.item-history-icon{
text-align: center;

}
.item-history-icon i{
background: #3c7bcb;;
line-height: 30px;
display: block;
height: 40px;
width: 40px;
padding: 5px;
border-radius: 50%;
-moz-border-radius: 50%;
-o-border-radius: 50%;
-webkit-border-radius: 50%;
margin: 0 auto;
color: #fff;
font-size: .8rem;
}
.item-history-fecha{
font-size: .6rem;
}
.item-history-precio{
font-size: .6rem;
}
.destino{
	width: 100%;
	display: block;
	
	
}


.d-desde, .d-hasta{
	display: block;
	width: 100%;
	clear: both;
	content: '';
	font-size: .6rem;
}

.d-desde strong, .d-hasta strong{
	font-weight: bold;
	font-size: .6rem;
}

/*******************************************/



.group-content-item-place{
	display: block;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #cdcdcd;
}
.group-content-item-place > div{
	font-size: .7rem;
display: flex!important;
    justify-content: center!important;
    align-content: center!important;
    flex-direction: column!important;
}
.group-content-item-place-icon,
.group-content-item-place-details{
display: block;
height: 70px;
width: 30%;
float: left;
}
.group-content-item-place-icon{
	text-align: center;

}
.group-content-item-place-icon i{
	background: #3c7bcb;;
line-height: 30px;
display: block;
height: 40px;
width: 40px;
padding: 5px;
border-radius: 50%;
-moz-border-radius: 50%;
-o-border-radius: 50%;
-webkit-border-radius: 50%;
margin: 0 auto;
color: #fff;
font-size: .8rem;
}
.group-content-item-place-details{
width: 70%;
}
.place-details{
	font-weight: bold;
}


/*********sidenav-two**********/


.titulo-vehicles{
	font-size: 1.1rem;
	display: block;
	background: #fff;
	color:blue;
	width: 100%;
	margin-top: 0;
	padding: 15px 0;
	text-align: center;
}
.group-content-item-vehicles{
	display: block;
	height: auto;
	width: 100%;
	margin: 0 auto;
	background: #f7f7f3;
	border: 1px solid #cdcdcd;
padding: 1px;
	margin-bottom: 5px;
}


.group-content-item-vehicles > div{
	
	width: 100%;
	
	font-size: .7rem;
	height: auto;
	display: flex!important;
    justify-content: center!important;
    align-content: center!important;
    flex-direction: column!important;
}
.group-content-item-vehicles .item-vehicles-img{
	width: auto; 
	max-width: 100%;

	height: 100px;
	overflow: hidden;
}

.group-content-item-vehicles .item-vehicles-img img{
	
}
.group-content-item-vehicles .item-vehicles-details{
	width: 100%;
	margin-bottom: 5px;
}
.item-vehicles-icon{
text-align: center;

}
.item-vehicles-icon i{
background: #3c7bcb;;
line-height: 30px;
display: block;
height: 40px;
width: 40px;
padding: 5px;
border-radius: 50%;
-moz-border-radius: 50%;
-o-border-radius: 50%;
-webkit-border-radius: 50%;
margin: 0 auto;
color: #fff;
font-size: .8rem;
}
.item-vehicles-fecha{
font-size: .6rem;
}
.item-vehicles-precio{
font-size: .6rem;
}
.destino{
	width: 100%;
	display: block;
	
	
}


.d-items{
	display: block;
	width: 100%;
	clear: both;
	content: '';
	font-size: .6rem;
}

.d-items strong{
	font-weight: bold;
	font-size: .6rem;
}






.container-group-footer{
	display: block;
	position: absolute;
	height: 50px;
	left:0;
	right:0;
	border-top:1px solid #cdcdcd;

	bottom: 0px;
}

.col-tab{
	padding-left: 1px!important;
	padding-right: 1px!important;
}

/**********Terms*********/

.group-content-other{

	display: block;
	width: 100%;
	position: absolute;
	top: 50px;
	

	overflow-y: auto;

-webkit-overflow-scrolling: touch;	
bottom: 0px;


}
.group-content-other-container{
	display: block;width: 100%;
	padding: 20px 20px;
	height: auto
}

.group-content-other p{
	font-size: .65rem;
	padding: 2px 40px;
	text-align: center;
}