@import url("fonts.css");
@import url("side-nav.css");


html, body { 
	height: 100%; 
	margin: 0; 
	padding: 0; 
		font-size: 62.5%;
		font-size: 14px;
		font-size: 1.4rem;
		-webkit-overflow-scrolling: touch;
	//letter-spacing: 1px;
	font-family:  'HelveticaNeue','Myriad Set Pro',Helvetica,Arial,sans-serif!important;
	
}

*{
	
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
input[type=search], input[type=text], input[type=password], input[type=datetime], input[type=datetime-local], input[type=date], input[type=month], input[type=time], input[type=week], input[type=number], input[type=email], input[type=url], input[type=tel], input[type=color], textarea{
	border-bottom: 0px solid #26a69a!important;
    box-shadow: 0 0px 0 0 #26a69a!important;
}
a:hover, a:focus, a:visited{
	text-decoration: none!important;
}
#map { 
	height: 100%; 
}
.controles{
	display: block;
	position: absolute;
	z-index: 50;
	right: 0;
	margin-right: 15px;
	margin-top: 15px;
}
.nada{
	display: block;
	background: #bcbcbc;
}
/*Eliminar controles del mapa
.gmnoprint:not(.gm-bundled-control) {
	display: none;
}

.gm-bundled-control .gmnoprint {
	display: block;
}
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}
a[href^="https://www.google.com/maps"]{display:none !important}
*/
.cursor{
	cursor: pointer;
}
.black-color{
	color: #000!important;
}
.userViewBg{
	background: rgba(0,0,0,.6);
	margin-left: -32px;
	margin-right: -32px;
	padding-left: 32px!important;
	padding-top: 0px!important;

	line-height: 300px;
}
.side-nav { 
	background-color: #fff;
    //left: 300px;
    display: block;
    position: fixed;
    overflow: none;
    z-index: 5000;
    }
.side-nav a{ 

	

 }
 .side-nav .subheader{
color: #434a5a;
 }

 .divider {

background-color: #dedede;
 }
.side-nav li>a>i.material-icons{
 color: #3c7bcb;}

.log-out{

color:#fff!important;

 	background: #259fea; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #259fea, #3679c7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #259fea, #3679c7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #259fea, #3679c7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #259fea, #3679c7); /* Standard syntax (must be last) */
    width: 50%;
    height: 35px!important;
    line-height: 35px!important;
    text-align: center;
    margin: 0 auto;
     -webkit-border-radius:30px;
     -o-border-radius:30px;
     -moz-border-radius:30px;
     border-radius:30px;

	
}
.li-log-out{
	margin-top: 30px;
	margin-bottom: 50px;
}
.profile-img{
	display: block!important;
	width: 100%;
	position: fixed!important;
	top: 0;

}
ul.side-nav-ul{
	
	position: absolute;
	top: 150px;
	width: 100%;
	bottom: 50px;

	overflow: auto!important;
}
.textShadowbBlack{
	text-shadow: -1px -1px 1px #111, 1px 1px 1px #111, -1px 1px 1px #111, 1px -1px 1px #111;
}
.name{
	padding-top: 5px!important;
	margin-top: 10px!important;
}
.email{
	padding-bottom: 6px!important;
}
.btn-floating i {
    width: inherit;
    display: inline-block;
    text-align: center;
   
    font-size: 1rem;
    line-height: 37px;
}
.btn-floating{
	margin-top: 5px;
}
/**********************/

.nz-container-index{
	display: block;
	width: 100%;
	position: absolute;
	top: 0;
	bottom:0;
	background: #fff;
}

.container-index-img,
.container-index-links{
	display: block;
	width: 90%;
	height: auto;
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;

}
.container-index-img{
	margin-top: 50px;
	display: block;
	width: 100%;



}
.container-index-img img{
	  -webkit-border-radius:50%;
     -o-border-radius:50%;
     -moz-border-radius:50%;
     border-radius:50%;
  
     width: 100px;
     height: 100px;
  
}
.container-index-img span{
width: 100%;
color: #014d6f;

}
.container-index-img .img{
width: 100%;

}
.container-index-links{
	position: absolute;
	bottom: 20px;
	margin-left: 5%
}
.container-index-links ul{
display: block;
height: 50px;
width: 100%;
margin: 0;
}
.container-index-links ul li{
display: block;
width: 50%;
height: 50px;
float: left;
line-height: 50px;


}
.container-index-links ul li a{
font-size: .7rem!important;
display: block;
width: 90%;
height: 50px;
background: white;
margin: 0 auto;
color: #3679c7;
border:1px solid #3679c7;
  -webkit-border-radius:10px;
     -o-border-radius:10px;
     -moz-border-radius:10px;
     border-radius:10px;
}
.container-index-links ul li a:hover{
color: #259fea;
}

/*************************************************/
/*******************Snippets**********************/
/*************************************************/
.rojo{
	background:#d73d32!important;
	color: #ffffff;
}
.naranja{
	background:#ffce43;
	color: #ffffff
}
.gris-oscuro{
	background:#4d4d4d!important;
	color: #ffffff;
}
.verde{
	background:#4cd964!important;
	color: #ffffff;
}
.azul{
	background:#4285f4!important;
	color: #ffffff;
}
.morado{
	background:#ae64f9!important;
	color: #ffffff;
}
.texto-rojo{
	color:#d73d32!important;
	
}
.texto-gris-oscuro{
	color:#4d4d4d!important;
	
}
.texto-verde{
	color:#4cd964!important;
	
}
.texto-azul{
	color:#4285f4!important;
	
}
.texto-morado{
	color:#ae64f9!important;
	
}


/*************************************************/
/*******************General***********************/
/*************************************************/
.nz-openclose{	
	
	width: 100%;
	font-size: .7rem;
	display: block;
	float: left;
	height: 15px;	
	margin: 0 auto!important;
	padding: 0px 5px;
	line-height: 15px;
	text-align: center;
	clear: both;
	content: ' ';
}
.nz-openclose > a > i{
margin: 0!important;
padding:0 39px!important;

	font-size: 15px!important;
	color:#777;	

}
.top-50{top: 50px!important;}
.top-60{top: 60px!important;}
.top-70{top: 70px!important;}
.top-80{top: 80px!important;}
.top-90{top: 90px!important;}
.top-100{top: 100px!important;}
.top-150{top: 150px!important;}
.bottom-0{bottom: 0px!important;}
.height-50{height: 50px!important;}
.height-60{height: 60px!important;}
.height-70{height: 70px!important;}
.height-80{height: 80px!important;}
.height-90{height: 90px!important;}
.height-100{top: 100px!important;}
.height-150{top: 150px!important;}

.margin-bottom-0{
	margin-bottom:0px!important;
	}

.width-30{width: 30%!important;}
.width-70{width: 70%!important;}

.map3{height: 95%!important;}
.map2{height: 35%!important;}
.map1{height: 60px!important;}
/*************************************************/
/*******************Mapa1***********************/
/*************************************************/



.nz-container-map{
	height: 35%;
	background: #f8f7f3;
	border: 0px;
	border-bottom: solid 1px #d1d1d1;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	width: 100%;
	display: block;
	position: absolute;
	bottom:0;
	overflow: hidden;
	z-index: 100;
}
/****header***/

.nz-header-map{
	background:inherit;
	display: block;
	border-bottom: 1px solid #dadada!important;
	height: 140px;
}
.nz-header-content{
	display: block;
	background: inherit;
	padding: 0 10px;
}
.nz-header-content-top{

height: 40px;
width: 100%;
margin-bottom: 10px;

}
.nz-header-content-top > .left,
.nz-header-content-top > .middle,
.nz-header-content-top > .right{
	display: block;
	height: 30px;
	float: left;
line-height: 30px;
}
.nz-header-content-top > .left > a,
.nz-header-content-top > .middle > h2,
.nz-header-content-top > .right > button{
	line-height: 30px;
	height: 40px!important;
	margin: 0px;
font-size: .7rem;
	
}
.nz-header-content-top > .left{
	width:20%
}
.nz-header-content-top > .middle{
width:60%	;


}
.nz-header-content-top > .right{
width:20%	
}
.nz-header-content-top > .left > a{
	margin: 0px;
}
.nz-header-content-top > .middle > h2{
font-weight: bold;
margin: 0px;
line-height: 35px;
text-align: center;
font-size: .8rem;
color: #000000;
}
.nz-header-content-top > .right > button{
	margin: 0px;
	
	float: right;
	background: none;
	border:none;
	color:#039be5;
}
.nz-header-content-top > .right > button:hover{
	color: #23527c;
}


.btn-google {
    background: #d73d32;
    border:1px solid transparent;

}
.btn-google:hover{
	background: #d73d32;
    border:1px solid transparent;
}
.btn-navigation{
	padding: 0 20px;
	text-transform: none!important;
	font-size:1rem;
}


.nz-header-search{
	display: block;
	height: auto;
	width: 90%;
	float: left;

  
}
.nz-header-search h2{
	display: block;
	
	
	font-size: .8rem;
	font-weight: bold;
	margin: 0px;
	color: #000000;

}

.item-input {
  
    padding: 0px 0 0px 16px!important;
    border-radius: 8px!important;
}
.nz-header-search h3{

	display: block;
	
	font-size: .7rem;
	font-weight: normal;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0;
	color:#000;
}
.nz-header-input-form{
	display: block;
		height: 40px;
		width: 100%;
		margin:0px;
}



.left-inner-addon {
  
    

}
.left-inner-addon input {
    padding-left: 50px; 
    width:80%;

   height: 35px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	
	color:#6e7f84;
	font-size: .7rem;
	background-color: #ebebeb;
	border: solid 1px #dadada!important;
}

.left-inner-addon input:focus {
    padding-left: 50px; 
    width: 80%;
   height: 35px;

margin:0px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border: solid 1px #dadada!important;
	background-color: #ebebeb;
	    box-shadow: 0 0px 0 0 #26a69a!important;

}
	
.left-inner-addon i {
    position: absolute;
    padding: 8px 12px;
    pointer-events: none;
    font-size: 1rem;
    color:#d1d1d1;
}
/***class clear input**/



.clearable{z-index:4000!important;
  background: #fff url('../images/x-clear.png') no-repeat right -20px center;

  border: 1px solid #999;
  padding: 3px 28px 3px 4px; /* Use the same right padding (18) in jQ! */
  border-radius: 3px;
  transition: background 0.4s;

}
.clearable.x  {z-index:4000!important; background-position: right 5px center; }
.clearable.onX{z-index:4000!important; cursor: pointer; }
.clearable::-ms-clear {z-index:4000!important;display: none; width:0; height:0;}
/*************************************************/

.nz-input-cambiaruta{
display: block;
width: 100%;
height: 80px;

}
.nz-input-cambiaruta > .group-detalle{
	display: block;
	width: 100%;
	height: 40px;
	
}
.nz-input-cambiaruta > .group-detalle >span{
display: block;
color: #647377;
float: left;
height: 40px;
line-height: 40px;
border:0px;
width: 30%;
font-size: .7rem;
padding-left: 10px;
background: #ebebeb;

}
.nz-input-cambiaruta > .group-detalle >input{
display: block;
float: left;
height: 40px;
border:0px!important;

width: 70%;
font-size: .7rem;
background: #ebebeb;
margin: 0px;
   border-bottom: 0px solid #ebebeb!important;
    box-shadow: 0 0px 0 0 #ebebeb!important;
}
.nz.input-cambiaruta > .group-detalle > input:focus{
	       border-bottom: 0px solid #ebebeb!important;
    box-shadow: 0 0px 0 0 #ebebeb!important;
}


.nz-input-cambiaruta > .group-detalle >span.s-hacia{
		border-radius: 0px 0px 0px 5px;
	-webkit-border-radius: 0px 0px 0px 5px;
	-moz-border-radius: 0px 0px 0px 5px;
	-o-border-radius: 0px 0px 0px 5px;
	color:#6e7f84;
}
.nz-input-cambiaruta > .group-detalle >span.s-desde{
	height: 41px;
	border-radius: 5px 0px 0px 0px;
	-webkit-border-radius: 5px 0px 0px 0px;
	-moz-border-radius: 5px 0px 0px 0px;
	-o-border-radius: 5px 0px 0px 0px;
	border-bottom: solid 1px #dadada!important;
	color:#6e7f84;
	
}
.nz-input-cambiaruta > .group-detalle >input.hacia{
	border-radius: 0px 0px 5px 0px;
	-webkit-border-radius: 0px 0px 5px 0px;
	-moz-border-radius: 0px 0px 5px 0px;
	-o-border-radius: 0px 0px 5px 0px;
	color:#000;
}
.nz-input-cambiaruta > .group-detalle >input.desde{
	border-radius: 0px 5px 0px 0px;
	-webkit-border-radius: 0px 5px 0px 0px;
	-moz-border-radius: 0px 5px 0px 0px;
	-o-border-radius: 0px 5px 0px 0px;
	border-bottom: solid 1px #dadada!important;
	color:#000;
}

/*
.nz-input-form-div-1,
.nz-input-form-div-2,
.nz-input-form-div-3{
	display: block;
	float: left;
	height: 40px;
	width: 33%;
	background: #d7d7d7;
}
.nz-input-form-div-1{
	width: 10%;
text-align: center;

-webkit-border-radius:15px 0px 0px 15px;
-moz-border-radius:15px 0px 0px 15px;
-o-border-radius:15px 0px 0px 15px;
border-radius:15px 0px 0px 15px;
	
}
.nz-input-form-div-1 i{
	color: #787878;
	line-height: 30px;
	font-size: .9rem;
	margin-left: 5px;

}
.nz-input-form-div-2{
	width: 90%;
	
}
.nz-input-form-div-2 > input{
	font-size: .7rem;
	color: #000;
	height: 38px;
	display: block;
	margin-top: 1px!important;
	border:0px solid blue;
	width: 99%;margin-bottom: 0px;
	    border-bottom: 0px solid #26a69a!important;
    box-shadow: 0 0px 0 0 #26a69a!important;

	
}
*/




 .nz-header-cancel{
 	display: block;

 	width: 10%;
 	float: left;
 	line-height: 40px;
 	text-align: right;
 }
 .nz-header-cancel > a{
 	font-size: .8rem

 }
 .nz-header-cancel > a.end-navigation{
 	display: block;
 	font-size: .8rem;
 	height: 30px;
 	float: right;
 	width: 50px;
 	text-align: center;
 	line-height: 30px;
 	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	color:#f1f1f1;

 }

 .nz-header-cancel > a.end-navigation:hover{

	color:#fff;
 }



.nz-content-header-title{
	display: block;
	height: 50px;
	width: 100%;
	float: left;
	margin: 0px;
}
.nz-content-header-title > h2{
	font-size: .8rem;
	line-height: 50px;
	margin: 0px 0px 0px 0px;
font-size: #000;
font-weight: bold;	
}



















/********content*********/
.nz-content-map{
	display: block;
	width: 100%;
	margin-top: 1px;
	background: #f8f7f3;
	min-height: 100px;
	padding: 0px 0px;
	overflow-y: auto;
	position: absolute;
-webkit-overflow-scrolling: touch;	bottom: 52px;
}
.nz-content-map-items{
	display: block;
	background: #f8f7f3;
	//overflow-y: auto!important;
	position: relative;
	top: 0px;
bottom: 50px;
padding: 0 5px;
	height: 100%;
	width: 100%;

	
	
	
}

.nz-content-map-item{
	display: block;
	width:100%;
	height: 78px;
	padding: 0 2px;
	background: #f8f7f3;
	
	border-bottom:  1px solid #dadada;	
}

.nz-content-map-item > .nz-content-map-item-icon,
.nz-content-map-item > .nz-content-map-item-detalle{
display: block;
float: left;
height: inherit;
width: 20%;
background: transparent;


}
.cot-item{
	height: 102px!important;

}
.nz-content-map-item > .cot-div1{
	width: 35%!important;
	display: block;float: left;
}
.nz-content-map-item > .cot-div2{
width: 45%!important;
display: block;float: left;
padding-top: 15px;
padding-left: 5px;
}
.nz-content-map-item > .cot-div3{
width: 20%!important;
display: block;float: left;
}
.nz-content-map-item > .nz-content-map-item-detalle{

width: 80%;
display: block;
background: transparent;
height: 78px;
 display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
	}

.nz-content-map-item > .nz-content-map-item-icon {
text-align: center;
line-height: 70px;


}
.nz-content-map-item > .nz-content-map-item-icon a > i{
font-size: .7rem;
-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	border-radius:50%;
	padding: 10px;


}

.nz-content-map-item-detalle > a > h2.titulo{
	display: block;
	width: 100%;
	background: transparent;

	font-size: .75rem;
	margin:0px 0px 0px 0px;
	padding:0px;
	color:#000;
	font-weight: bold;
	white-space: nowrap;
    overflow: hidden;
text-overflow: ellipsis;
}
.nz-content-map-item-detalle > a > p.descripcion{
display: block;
 white-space: nowrap;
    overflow: hidden;
text-overflow: ellipsis;
	width: 100%;
	height: auto;
	background: transparent;
font-size: .7rem;
margin:0px;
padding:0px;
color:#7b7b7b;

	font-weight: normal;

}


.nz-content-map-itemextra{
	display: block;
	width: 100%;
	height: 78px;
	margin:0px;
	padding:0px 40px;
	text-align: right;
}
.nz-content-map-itemextra > a{
	
	font-size: .7rem;
	line-height: 75px;
	margin:0px;
	padding:0px;

	
	color: #2895F1
	

}





/********footer*****/

.nz-footer-map{
	background: #f8f7f3;
	color:#fff;
	display: block;
	border-top: solid 1px #dadada!important;
	width: 100%;
	position: absolute;
bottom: 0;
	height: 50px;
}
ul.nz-footer-map-menu{
	display: block;
	height: 50px;
	width: 100%;
	margin:0px;
	padding: 0px;

}
.nz-footer-map-menu li{
	display: block;
	text-align: center;
	width: 25%;
	height: 50px;
	float: left;
	background: #f8f7f3;

}
.nz-footer-map-menu li a.active{
	color:#4285f4;
	background: red!important
}
.nz-footer-map-menu li a{
color:#717a7c;
font-size: .6rem;

}
.nz-footer-map-menu li a:hover{
color:#4285f4;
}
.nz-footer-map-menu li a i{

display: block;
width: 100%;
height: 30px;
font-size:1rem;
line-height: 30px;
}
.nz-footer-map-menu li a span{
font-size: .6rem;
line-height: 15px;
display: block;
width: 100%;
height: 20px;
}


.tabs .tab a{
	color:#717a7c;


}


.tabs .tab a:hover{
	color:#4285f4;


}
.tabs .tab a i, .tabs .tab a span{
	display: block;
	width: 100%;
	clear: both;
	content: '';	
	text-transform: none;
	letter-spacing: -1px;

}
.tabs .tab a i{
font-size:1rem;
line-height: 30px;

height: 30px;
}
.tabs .tab a span{

height: 20px;
font-size: .6rem;
line-height: 15px;}

.tabs .tab .active{
	color:#4285f4;

}
/*************************************************/
/*******************navigation***********************/
/*************************************************/
.nz-navigation{
	display: block;
	width: 100%;
	height: 25%;
	max-height: 150px;
	background: rgba(0,0,0,.7);
	color:#fff;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	overflow: hidden;
}
.nz-navigation-icon, .navigation-slider-detalle-viaje{
	display: block;
	float: left;
	width: 30%;
	height:250px;
	padding-top: 10px;
	padding-bottomm: 10px;

}
.nz-navigation-icon{
	text-align: right;

}
.nz-navigation-icon >i{
	font-size: 3rem;
	line-height: 120px;
	text-align: center;

}
.navigation-slider-detalle-viaje{
	display: block;
	width: 70%;  
}
.navigation-slider-detalle-viaje > h2{
margin:0px;
font-size: 1.4rem;
position: absolute;
	top: 10px;
}
.navigation-slider-detalle-viaje > p{

	width: 69%;
margin:0px;
color: #bcbcbc;
line-height: 1rem;

position: absolute;
	top: 2rem;
font-size: .9rem;
padding-right: 10px;
//white-space: nowrap;

    overflow: hidden;
    text-overflow: ellipsis;
     display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  

}
.navigation-slider-detalle-viaje > span{
	display:block;
	margin:0px;
	width: 100%;
	font-size: .7rem;
	text-align: left;
	padding-right: 60px;
	position: absolute;
	bottom: 5px;

}
/*************************************************/
/*******************Mapa3***********************/
/*************************************************/

/*************************************************/
/*******************Mapa4***********************/
/*************************************************/

/*************************************************/
/*******************Mapa5***********************/
/*************************************************/

/*************************************************/
/*******************Mapa1***********************/
/*************************************************/

/*************************************************/
/****estilos del control localiacion del mapa*****/
/*************************************************/

#goCenterUI{
//border-radius: 50%!important;
height: 28px;
width: 28px;
margin-top: -110px;
margin-right: 10px;

}
#goCenterText{
//border-radius: 50%!important;
//height: 40px;



line-height: 33px!important;
}
#goCenterText i{
color:#666;
font-size: .9rem;
margin:-6px;
}


.cotizar{

}
.btn-cotizar{

}
.cot-carga {
	font-size: 1rem!important;
}


.cot-carga> .content-input{
margin-top: 20px!important;
}

 .content-input{
    display: block;
    background: #f6f6f6;
    width: 100%;
    height: auto;
    margin-top: 5px;
   

}
.content-input input.fecha{
	background: #fff;
	color: #000!important;
}
/* individual: webkit */
.datepicker::-webkit-input-placeholder { color: #555; }
.datepicker:-ms-input-placeholder { color: #555; }
.datepicker::-moz-placeholder { color: #555; }


::-webkit-input-placeholder { color:#555; }
::-moz-placeholder { color:#555; } /* firefox 19+ */
:-ms-input-placeholder { color:#555; } /* ie */
:input:-moz-placeholder { color:#555; }

.content-input > input{
border:1px solid #bdc4c9!important;
background-color: #ffffff;
color:#3d464d;
height: 40px;
font-size: .7rem;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-o-border-radius: 3px;
margin: 0px;
display: block;
width: 99%;
text-indent: 10px;

}
.content-input > input:focus{
    border:1px solid #4d90fe!important;
box-shadow: none!important;
}



.content-input > textarea{
border:1px solid #bdc4c9!important;
background-color: #ffffff;
color:#3d464d;

font-size: .7rem;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-o-border-radius: 3px;
margin: 0px;
display: block;
width: 99%;
text-indent: 10px;
margin-bottom: 50px;

}
.caret {
   
    border-top:0!important; 
    display: none!important;
 
}
.content-input > textarea:focus{
    border:1px solid #4d90fe!important;
box-shadow: none!important;
}

.divider-space{
	display: block;
	height: 20px;
	margin-bottom: 20px;
	background: none;
	padding: 0px 0;
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	border-bottom:2px solid #bcbcbc!important;
}
.item-tranporter{
	height: 101px;
	width: 100%;
	display: block;
	background: #f8f7f3;
	margin-bottom: 10px;
	padding: 0 0 1px 0;
		border-bottom:  1px solid #dadada;	

}


.item-transporter-images{
display: block;;
height: 100px;
min-width: 30%;
    max-width: 40%;
overflow: hidden;
float: left;
}
.it-images-car{
	display: block;
	height: 130px;
	width: 100%;
	overflow: hidden;

}
.it-images-avatar{
	display: block;
	height: 60px;
	width: 60px;
	margin-top:-130px;
	margin-left: 0px;
	

}

.it-images-avatar img{
border-radius: 50%;
	}
.it-img{
	
   max-height:100%;

}
.item-transporter-description{
	display: block;
	float: left;
	
	width: 50%;
	height: 100px;
	  overflow: hidden;
    text-overflow: ellipsis;
     display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: .7rem;
background: #fff;
line-height: .7rem;
padding: 5px 5px;
overflow-y: auto;

}
.item-transporter-description span{
	display: block;
	margin-bottom: 5px;
	font-size: .6rem;
}
.item-transporter-description span strong{
	font-weight: bold;
	display: block;
	width: 50px;
	margin-bottom: 3px;
	font-size: .6rem;
}

.item-transporter-check{
	display: block;
	float: right;
	height: 100px;
	width: 10%;
	text-align: center;
	background: #1f88e5;
	line-height: 110px;
	
}
.item-transporter-check input[type="checkbox"]+label{
	padding-left: 20px!important;
}

.item-transporter-check input[type="checkbox"]+label:before,
.item-transporter-check input[type="checkbox"]:not(.filled-in)+label:after{
	border: 3px solid #fff;

}
.item-transporter-check input[type="checkbox"]:checked+label:before{
border-right: 2px solid #fff;
 border-bottom: 2px solid #fff;
 border-top: 2px solid transparent;
    border-left: 2px solid transparent;

}
.item-transporter-check p{
	text-align: center!important;
}

.btn-inner{
   margin-top: 15px;
  
    background: #3f8af4!important;

}
.btn-inner:hover,
.btn-inner:focus,
.btn-inner:active{
    color: #eee!important;
}



.cotizar-pago{
	display: block;
	width: 100%;
	height: auto;
	
	margin:20px 0 0 0;
	padding:0

}
.cotizar-pago p{
	display: block;
	width: 100%!important;
	height: 50px;
	margin:0;
	padding:0;

}
.cotizar-pago p label{
	display: block;
	width: 100%;
font-weight: normal;
margin-top: 0px;
	
	font-size: .8rem!important;
}
.cotizar-pago p label span{
display: block;
float: left;

	
	font-size: .8rem!important;
}

.cotizar-pago p label i{

float: left;
	font-size: .8rem!important;
	margin-top: 5px;
	margin-right: 10px;
	
}

.cotizar-pago p input[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after{
	border: 2px solid #1f88e5;
	
}
.cotizar-pago p input[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after{
	background-color:  #1f88e5;
	
}
.cotizar-pago p input[type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after{
	    border: 2px solid #1f88e5;
	
}


.content-resumen{
display: block;width: 100%;
height:auto;


}
.resumen-description{
	margin-top: 20px;
	margin-bottom: 40px;
}
.content-resumen .resumen-description{
	display: block;
	width: 100%;
}



.content-resumen> .resumen-description p{
	display: block;
	width: 100%;
	margin-bottom: 5px;
	
	border-bottom: 1px solid #dadada;
	height: 50px;
}
.content-resumen> .resumen-description p strong{
	
	display: block;
	float: left;
	width: 35%;
	height: 50px;
	font-size: .7rem;
	font-weight: bold;
	color: #1f88e5;
	padding-left: 20px;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
	
}
.content-resumen> .resumen-description p span{
	
	display: block;
	float: left;
	width: 65%;
	height: 50px;
	font-size: .7rem;
	padding: 10px 20px;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.img-gif{
	height: 50px;
	overflow: hidden;
	position: absolute;
	top:-5px;
}



/********mapa search box**/
.container-navigation-route{
		height: 25%;
		font-size: .8rem!important;
	background: #f8f7f3;
	border: 0px;
	border-bottom: solid 1px #d1d1d1;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	width: 50%;
	right: 0;
	display: block;
	position: absolute;
	top:0;
	overflow-y: auto;
	z-index: 100;
}





.controls {
  background: #FFF!important;
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.ip{
  background-color: #456!important;
  color: #fff!important;
}
#origin-input,
#destination-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}

#mode-selector {
  color: #fff;
  background-color: #4d90fe;
  margin-left: 12px;
  padding: 5px 11px 0px 11px;
}

#mode-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
     #right-panel {
        float: right;
        width: 34%;
        height: 100%;
        width: 100%;
      }
#right-panel {
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select, #right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}

      .panel {
        height: 100%;
        overflow: auto;
      }