
html, body {
  

    height: auto;

}
.bg-white{
    background: #ffffff!important;
}
.border0{
    border:0px!important;
}
/***************************************/
.nz-container{
    background: #fff;
    display: block;
    width: 100%;



}
.nz-container-inner{
    border:1px solid #d0d4d9;
background: #f6f6f6;

    display: block;
    width: 94%;
    margin: 0 auto;
    height: auto;
    padding: 10px 20px;
    margin-top: 20px;
}
.nz-container-inner-title,
.nz-container-inner-content{
display: block;
width: 100%;
background: #f6f6f6;
clear: both;
content: ' ';
margin:0;
}
.nz-container-inner-title{
border-bottom:1px solid #d0d4d9;
}
.nz-container-inner-title h2{

    margin:0;
    font-size: .9rem;
    font-weight: normal;
    padding: 5px 0;
    color:#007aff;
}
.nz-container-inner-content{
display: block;
width: 100%;
height: auto;
clear: both;
content: ' ';
background: #f6f6f6;
margin-top: 10px;
}
.inner-content-other-accounts,
.inner-content-account{
    display: block;
    width: 100%;
    height: auto;
    clear: both;
    content: ' ';
background: #f6f6f6;

}
.inner-content-other-accounts{
background: #f6f6f6;
padding-top: 40px;
padding-bottom: 40px;
}
.inner-content-account{
background: #f6f6f6;
margin-top: 30px;
    }




.content-button{
    width: 100%;
background: #f6f6f6;
    text-align: center;
    display: block;
    width: 100%;
    height: auto;
  
    
    padding: 0;
   }
.content-button button{
    display: block;
    width: 100%;    
    color: #ffffff;
    float: left; 
    font-size: .7rem;
    height: 41px;
    text-align: center;
    text-transform: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
}
.content-button > button.btn-google {
background:#d73d32!important;
border:1px solid transparent;



}
.content-button > button.btn-google span{

font-size: .65rem!important


}
.content-button > button.btn-google i {
font-size: .65rem!important



}

.content-button > button.btn-facebook {

}
.btn-inner{
   margin-top: 15px;
  
    background: #3f8af4!important;

}
.btn-inner:hover,
.btn-inner:focus,
.btn-inner:active{
    color: #eee!important;
}


.content-button > button > span{
color: #fff ;
font-size: .8rem;
font-weight: normal;

}

 .content-input{
    display: block;
    background: #f6f6f6;
    width: 100%;
    height: auto;
    margin-top: 15px;
   

}

.content-input > input{
border:1px solid #bdc4c9!important;
background-color: #ffffff;
color:#3d464d;
height: 40px;
font-size: .7rem;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-o-border-radius: 3px;
margin: 0px;
display: block;
width: 99%;
text-indent: 10px;

}
.content-input > input:focus{
    border:1px solid #4d90fe!important;
box-shadow: none!important;
}
.nz-inner-switch{

 
width: 100%!important;

    background: #f6f6f6;
  
   
      height: auto;
    clear: both;
    content: '.';
    padding: 5px;
   
}


.select-wrapper input.select-dropdown {
    position: relative;
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    height: 2rem;
    line-height: 2rem;
    width: 99%;
    font-size: .7rem;
    color:#bcbcbc!important;
    margin: 0 0 0px 0!important;
    padding: 0;
    display: block;
    text-indent: 10px;
    border:1px solid #bdc4c9!important;
    border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-o-border-radius: 3px;
box-shadow: 0 0px 0 0 #4CAF50;
}

.select-wrapper input.select-dropdown:focus{
    box-shadow: 0 0px 0 0 #4CAF50;
}
.dropdown-content li>a, .dropdown-content li>span {
    font-size: .7rem!important;
    color: #4d90fe; 
   
}
.content-input .btn{
    background: #4d90fe!important;
    height:2rem!important;
    line-height:2rem!important;
    padding-left: 10px;
    padding-right: 10px;
}

.file-field .file-path-wrapper{
    height:2rem!important;
  
}
.file-field .file-path-wrapper input{
  
    font-size: .7rem!important;
 
}
.nz-inner-switch{

 
width: 100%!important;

    background: #f6f6f6;
  
   
      height: auto;
    clear: both;
    content: '.';
    padding: 5px;
   
}
.m-top-20{
    margin-top: 20px;
}
.nz-inner-switch label.etiqueta{
 
   line-height: 1rem;
    color: #3d464d;
 font-weight: normal;
    font-size: .63rem;
   
}
[type="checkbox"]:checked+label:before {
   
    border-right: 2px solid #007aff;
    border-bottom: 2px solid #007aff;
  
}

.content-link{
    display: block;
    
    width: 100%;
background: #f6f6f6;

    text-align: right;
    clear: both;
    content: ' ';
   
}
.content-link a{
    font-size: .65rem;
    background: #f6f6f6;
   
   
    background: #f6f6f6;
    padding-right: 10px;
  
}
.content-link-o{
display: block;
width: 100%;
text-align: center;
margin-top: 30px;
}

.content-link-o span{
display: block;
width: auto;
font-size: .65rem;
margin: 0px;
padding:0;

}
.content-link-o span a{
display: block;
width: 100%;
padding: 3px 0!important;
font-size: .8rem;
margin: 0px;
padding:0;

}



label.error{
    color:red;
    font-weight: normal;
    font-size: .65rem;

}
input:not([type]):focus:not([readonly])+label, input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: red;
    font-weight: bold;
}




